<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel ='stylesheet' type = 'text/css' href='../../public/css/style.css'>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <!-- <div id = 'hero-coffee'>
        <div class='container-fluid'>
            <h1>Coffee Journal</h1>
        </div>



    </div> -->
    <!-- <div class='container'>
        <img src='../../public/images/coffee.jpg' class='img-fluid' alt='minimalist coffee'/>
    </div> -->
    <div id = 'hero-coffee' class="container">
        <div class = 'row'>

            <div class ='col-5'>
                <h3>☕ Coffee Tasting Guide</h3>
                <ul class='list-group'>
                    <li class='list-group-item'>
                        <h4>🌺 Fragrance</h4>
                        <p>What is the predominant fragrance when smelling dry coffee grounds? Fruit, Herbal, or Floral are common notes.  </p>
                    </li>
                    <li class='list-group-item'>
                        <h4>♨️ Aroma</h4>
                        <p>Once the initial drops of water have the hit the grounds, what notes are created? Nutty, caramel, and cocoa-like notes are common.  </p>
                    </li>
                    <li class='list-group-item'>
                        <h4>🍬 Sweetness</h4>
                        <p>Sweetness is percieved at the tip of the tongue.  Consider which type of sweetness
                            is tasted such as fresh fruit, honey, maple syrup or sugar.
                        </p>
                    </li>
                    <li class='list-group-item'>
                        <h4>🍋 Acidity</h4>
                        <p>Acidity is percieved on the lateral parts of the tongue.  It is a more mild acidity or tart like a lemon?
                             Darker roasts have acidity that is more muted and not as juicy or tart.  
                        </p>
                    </li>
                    <li class='list-group-item'>
                        <h4>⚖️ Body</h4>
                        <p>What is the perceived weight of the coffee? Is it like skim milk or heavy whipping cream?</p>
                    </li>
                </ul>
            </div>
            <div class='col-7'>
                <h3>📔 Add a new entry...</h3>
                <form action ="/user" method="POST">
                    <div class='form-row'>
                        <div class ='col-6'>
                            <label>Roaster</label>
                            <input type='text' name = 'roaster_name' class='form-control' placeholder="Coffee Roaster">  
                        </div>
                        <div class ='col-3'>
                            <label>Region</label>
                            <input type='text' name = 'region_name' class='form-control' placeholder="Region">
                        </div>
                        <div class='col-3'>
                            <div class='form-group'>
                                <label>Brew Method</label>
                                <select name = 'brew_method' class='form-control'>
                                    <% for (let i = 0; i < brewmethods.length; i++ ) { %>
                                    <option> <%= brewmethods[i]%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class ='col-4'>
                            <div class='form-group'>
                              <label>Tasting Notes</label>
                              <select name = 'tasting_notes' multiple class ='form-control'>
                                <% for (let i = 0; i < taste_profile.length; i++) { %>
                                <option><%= taste_profile[i]%></option>
                                <% } %>
                            </select>  
                            </div>   
                        </div>
                        <div class = 'col-8'>
                            <div class='form-group'>
                                <label>Additional Comments</label>
                                <textarea name = 'comments' class ='form-control' rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class ='form-group'>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>


</main>

<%- include('../partials/script'); %>

</body>
</html>
