<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <link rel ='stylesheet' type = 'text/css' href='../../public/css/style.css'>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <!-- <div id = 'hero-coffee'>
        <div class='container-fluid'>
            <h1>Coffee Journal</h1>
        </div>



    </div> -->
    <!-- <div class='container'>
        <img src='../../public/images/coffee.jpg' class='img-fluid' alt='minimalist coffee'/>
    </div> -->
    <div id = 'hero-coffee' class="container">
        <div class = 'row'>
            <div class='col-7'>
                
                <form action ="/entry" method="POST">
                    <div class='form-row'>
                        <div class ='col-6'>
                            <label>Roaster</label>
                            <input type='text' name = 'roaster' class='form-control' placeholder="coffee roaster">  
                        </div>
                        <div class ='col-3'>
                            <label>Region</label>
                            <input type='text' name = 'region' class='form-control' placeholder="region">
                        </div>
                        <div class='col-3'>
                            <div class='form-group'>
                                <label>Brew Method</label>
                                <select name = 'brew_method' class='form-control'>
                                    <% for (let i = 0; i < brewmethods.length; i++ ) { %>
                                    <option> <%= brewmethods[i]%></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class ='col-4'>
                            <div class='form-group'>
                              <label>Tasting Notes</label>
                              <select name = 'tasting_notes' multiple class ='form-control'>
                                <% for (let i = 0; i < taste_profile.length; i++) { %>
                                <option><%= taste_profile[i]%></option>
                                <% } %>
                            </select>  
                            </div>   
                        </div>
                        <div class = 'col-8'>
                            <div class='form-group'>
                                <label>Notes</label>
                                <textarea name = 'comments' class ='form-control' rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class ='form-row'>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
            <div class ='col-5'>
                <h2>A guide to tasting coffee</h2>
            </div>
        </div>
    </div>


</main>

<%- include('../partials/script'); %>

</body>
</html>
